<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.crawler.dao.mapper.CrawlerProductMapper">
  <resultMap id="BaseResultMap" type="com.zheng.crawler.dao.model.CrawlerProduct">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_introduction" jdbcType="VARCHAR" property="productIntroduction" />
    <result column="product_features" jdbcType="VARCHAR" property="productFeatures" />
    <result column="technical_parameter" jdbcType="VARCHAR" property="technicalParameter" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    product_id, product_name, product_introduction, product_features, technical_parameter, 
    price, img, creator, create_time
  </sql>
  <select id="selectByExample" parameterType="com.zheng.crawler.dao.model.CrawlerProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crawler_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crawler_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from crawler_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zheng.crawler.dao.model.CrawlerProductExample">
    delete from crawler_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zheng.crawler.dao.model.CrawlerProduct">
    insert into crawler_product (product_id, product_name, product_introduction, 
      product_features, technical_parameter, price, 
      img, creator, create_time
      )
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productIntroduction,jdbcType=VARCHAR}, 
      #{productFeatures,jdbcType=VARCHAR}, #{technicalParameter,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zheng.crawler.dao.model.CrawlerProduct">
    insert into crawler_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productIntroduction != null">
        product_introduction,
      </if>
      <if test="productFeatures != null">
        product_features,
      </if>
      <if test="technicalParameter != null">
        technical_parameter,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productIntroduction != null">
        #{productIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="productFeatures != null">
        #{productFeatures,jdbcType=VARCHAR},
      </if>
      <if test="technicalParameter != null">
        #{technicalParameter,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zheng.crawler.dao.model.CrawlerProductExample" resultType="java.lang.Long">
    select count(*) from crawler_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update crawler_product
    <set>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productIntroduction != null">
        product_introduction = #{record.productIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.productFeatures != null">
        product_features = #{record.productFeatures,jdbcType=VARCHAR},
      </if>
      <if test="record.technicalParameter != null">
        technical_parameter = #{record.technicalParameter,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null">
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update crawler_product
    set product_id = #{record.productId,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_introduction = #{record.productIntroduction,jdbcType=VARCHAR},
      product_features = #{record.productFeatures,jdbcType=VARCHAR},
      technical_parameter = #{record.technicalParameter,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zheng.crawler.dao.model.CrawlerProduct">
    update crawler_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productIntroduction != null">
        product_introduction = #{productIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="productFeatures != null">
        product_features = #{productFeatures,jdbcType=VARCHAR},
      </if>
      <if test="technicalParameter != null">
        technical_parameter = #{technicalParameter,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zheng.crawler.dao.model.CrawlerProduct">
    update crawler_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_introduction = #{productIntroduction,jdbcType=VARCHAR},
      product_features = #{productFeatures,jdbcType=VARCHAR},
      technical_parameter = #{technicalParameter,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>